{% schema %}
{
  "name": "WhatsApp In-Page",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "dummy_setting",
      "label": "Dummy",
      "default": "Test"
    }
  ]
}
{% endschema %}

<div style="padding: 20px; background: red; color: white;">
  TEST WHATSAPP BLOCK
</div>
